<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div style="min-height: 28rem;margin-top: 5rem;">
        <h1 style="text-align: center;">Danh sách khách hàng</h1>
        <a href="#" class="btn btn-outline-success" style="float: right;margin-right: 2rem;">Thêm mới</a>
        <table class="table table-striped table-hover mt-2">
            <thead>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Số CMND</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Loại khách</th>
                <th>Địa chỉ</th>
                <th colspan="2">CHỨC NĂNG</th>
            </thead>
            <tr>
                <td>1</td>
                <td>Kim Ngọc Thành</td>
                <td>13-09-2001</td>
                <td>Nam</td>
                <td>001201011357</td>
                <td>0961297922</td>
                <td>kimthanh130901@gmail.com@gmail.com</td>
                <td>Diamond</td>
                <td>Hà nội</td>
                <td>
                    <a class="btn btn-outline-primary border border-dark" th:href="#">Sửa</a>
                </td>
                <td>
                    <a href="#" class="btn btn-outline-danger btn-square border-dark" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1">
                        Xóa
                    </a>
                </td>
            </tr>

            <tr>
                <td>1</td>
                <td>Kim Ngọc Thành</td>
                <td>13-09-2001</td>
                <td>Nam</td>
                <td>001201011357</td>
                <td>0961297922</td>
                <td>kimthanh130901@gmail.com@gmail.com</td>
                <td>Diamond</td>
                <td>Hà nội</td>
                <td>
                    <a class="btn btn-outline-primary border border-dark" th:href="#">Sửa</a>
                </td>
                <td>
                    <a href="#" class="btn btn-outline-danger btn-square border-dark" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop1">
                        Xóa
                    </a>
                </td>
            </tr>
        </table>

        <!--modal-delete-->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header" style="background-color: #FFD333">
                            <h5 class="modal-title fs-5" id="staticBackdropLabel">Bạn chắc chắn muốn xóa</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input id="customerId" name="id" type="hidden">
                            <span>Khách hàng tên </span>
                            <span id="customerName" name="deleteName"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>